@font-face {
    font-family: 'SegoeWP', sans-serif;  
    src: url(font/SegoeWP.ttf);
    src: url(font/SegoeWP-Black.ttf);
    src: url(font/SegoeWP-Bold.ttf);
    src: url(font/SegoeWP-Semibold.ttf);
    src: url(font/SegoeWP-Semilight.ttf);
}

@font-face {
    font-family: 'SegoeWP-Light', sans-serif;  
    src: url(font/SegoeWP-Light.ttf);
}
